<!DOCTYPE html>
<html>
<body>

<h2>Create Greeting form</h2>

<form action="/create_greeting" method="post">
  <label for="from_greeting">From:</label><br>
  <input type="text" id="from_greeting" name="from_greeting" value="Ran"><br>

  <label for="to">To:</label><br>
  <input type="text" id="to" name="to" value="Tal"><br>

  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" value="Happy Birthday!"><br>

  <label for="to">To:</label><br>
  <input type="text" id="to" name="to" value="Tal"><br>

  <label for="content">Content:</label><br>
  <input type="text" id="content" name="content" value="Happy Birthday!!!!!!!!!"><br>

  <label for="date">Date:</label><br>
  <input type="text" id="date" name="date" value="25/08/2021"><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a route called "/create_greeting" with POST method.</p>

</body>
</html>
